html {
    font-size: 100%;
}

body {
    background-image: linear-gradient(
        to right,
        oklch(0.8947 0.0604 227.77),
        oklch(0.6029 0.1466 243.46)
    );

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.app {
    width: 20rem;
    height: 36rem;

    border: 2px solid black;
    border-radius: 0.75rem;

    background: #fff;

    padding: 1.5rem;
    margin: 1rem;
}

h1, h2, h3 {
    margin: 0;
}

main {
    margin: 2rem 0;
}

label, select, button {
    display: block;

    margin: 0.75rem 0;
}

select {
    font-size: 1.25rem;
}

option {
    font-size: 1rem;
}

#counter {
    font-size: 2rem;
}

input#consumed-water {
    width: 20%;
}